.main-content-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #ccc;
  text-align: center;
}

.main-content {
  width: 80%;
  margin: 0 auto;
  background-color: #ccc;
}

.logo {
  animation: Logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

@keyframes Logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
